@{
    ViewData["Title"] = "Auctions";
}
@await Component.InvokeAsync("ListAuctions")
<button onclick="location.href='@Url.Action("CreateForm", "Auction")'">Create auction</button>
<p>Your current balance: @ViewBag.Wallet</p>